<!DOCTYPE html>
<html>
<head>
	<title>BEST | Bharat Excellence Scholarship Test</title>
	<link rel="icon" type="image/png" href="assets/images/favicon.png"/>
	<link rel="stylesheet" href="assets/css/style.css">
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2 col-xs-2 col-lg-2 col-sm-2"></div>
			<div class="col-md-8  col-xs-8 col-lg-8 col-sm-8">
				<div style="overflow-wrap: break-word;background-color: #ffffff;">
					<div class="row">
						<div class="col-md-12 col-xs-12 col-lg-12 col-sm-12" style="padding: 0px;">
							<nav class="navbar navbar-default">
								<div class="container-fluid">
									<div class="navbar-header">
										<a class="nav navbar-left" href="index.html"><img src="assets/images/logo.png" width="100%"></a>
									</div>
									<ul class="nav navbar-nav" style="float: right;margin-top: 2%;">
										<li><a href="index.html">Home</a></li>
										<li><a href="about.html"  style="color: #f29200;">About Us</a></li>
										<li><a href="syllabus.html">Syllabus</a></li>
										<li><a href="updates.html">Updates</a></li>
										<li><a href="contact.html">Contact Us</a></li>
									</ul>
								</div>
							</nav>
						</div>
					</div>
					<div style="text-align: center;">
            			<img src="assets/images/sponsoredaddsbanner.png" width="25%">
            		</div>
					<h3 style="text-align: center;color:blue;margin-top: auto;font-family:Serif;"><span style="font-size: 35px">B</span>HARAT <span style="font-size: 35px" >E</span>XCELLENCE <span style="font-size: 35px">S</span>CHOLARSHIP 
						<span style="font-size: 35px">T</span>EST</h3>
					<div class="row">
						<div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
							<div class="btn-group btn-group-justified">
							    <!--<a href="application.html" class="btn btn-success">Application Form</a>-->
							    <div class="btn-group">
                                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                                    Application Form<span class="caret"></span></button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="assets/images/application.pdf" target="_blank">Offline Application</a></li>
                                        <li><a href="application.html" target="_blank">Online Application</a></li>
                                    </ul>
                                </div>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                                        Free Sample Question Papers <span class="caret"></span></button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="assets/Sample/Class-VI.pdf" target="_blank">VI Class</a></li>
                                                <li><a href="assets/Sample/Class-VII.pdf" target="_blank">VII Class</a></li>
                                                <li><a href="assets/Sample/Class-VII.pdf" target="_blank">VIII Class</a></li>
                                                <li><a href="assets/Sample/Class-IX.pdf" target="_blank">IX Class</a></li>
                                                <li><a href="assets/Sample/Class-X.pdf" target="_blank">X Class</a></li>
                                            </ul>
                                     </div>
							    <a href="Results.html" class="btn btn-success">Results</a>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
							<marquee style="margin:3%;color: red;font-size: 18px;" behavior="scroll" scrollamount="3" scrolldelay="1" onMouseOver="this.stop()" onMouseOut="this.start()">Students from 6th to 10th class can only apply for Bharat Excellence Scholarship Test (BEST). Registrations will start soon. For more updates stay tuned to <a href="best.net.in">BEST</a>. Contact No. +91 91338 91339 <sup><img src="assets/images/new.gif" width="5%"></sup></marquee>
						</div>
					</div>
					<div class="row" style="text-align:center;margin-bottom:2%;">
					<div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
						<h2 style="color:#640606;font-family:serif;font-weight:bold;"><u>About Us</u></h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12  col-xs-12 col-lg-12 col-sm-12" style="margin-bottom: 3%">
						<p style="text-align:justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BHARAT EXCELLENCE SCHOLARSHIP TEST (BEST)is a national level legitimacy based grant program. BEST is given by an association which is enlisted under Ability Education Trust. BEST focus on creating learning frame work for Scholarship Examination by Scholarship Test and providing them opportunity to take the benefits of current education systems Students are confident.The BEST honours and supports the talented students by conducting the Scholarship Exams across India which would way for their higher education.the objective of the scholarship test is to identify students with potential to study and support them with cash rewards.Students of Class 6th to 10th in INDIA are eligible to write this Test.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-xs-5 col-lg-5 col-sm-5" style="border:1px solid #aba8a8;box-shadow: 5px 5px #e8e8e8;background-color: #f29200;padding:0.5% 0% 0.5% 0.5%;">
                    	<h4 style="font-weight: bold;"><i class="fa fa-bullseye" aria-hidden="true" style="margin-right: 2%;font-size:1.5em"></i>MISSION</h4>
                    	<p  style="background-color: #640606;color:white;margin-right: 2% ;font-size:1em;padding:20px;">Promote and provide financial support for students education and welfare we inspire and enable a better growth of student's through our scholarship programme.</p>
                    	</div>
	                    	<div class="col-md-6 col-xs-6 col-lg-6 col-sm-6 col-md-offset-1 col-xs-offset-1 col-lg-offset-1 col-xs-offset-1"  style="border:1px solid #aba8a8;box-shadow: 5px 5px #e8e8e8;padding:0.5% 0% 2.5% 0.5%;background-color: #f29200;">
	                    	<h4 style="font-weight: bold;"><i class="fa fa-eye" aria-hidden="true" style="margin-right: 2%;font-size:1.5em"></i>VISION</h4>
	                    	<p  style="background-color: #640606;color:white;margin-right: 2% ;font-size:1em;padding:20px;">To build a vibrant and supportive community of scholars by markedly expanding opportunities to connect and explore Ideas.</p>
                       </div>
						
                 </div>
                    <div class="row">
    					<div class=" col-md-12 col-sm-12 col-xs-12 col-lg-12">
    						<hr style="border-top:1px solid red;">
    						<p style="font-size:100%;text-align:center;"><a href="index.html" style="color:#640606;">Home</a>  |  <a href="about.html" style="color:#640606;">About</a>  |  <a href="syllabus.html" style="color:#640606;">Syllabus</a>  |  <a href="updates.html" style="color:#640606;">Updates</a>  |  <a href="application.html" style="color:#640606;">Application Form</a>  |  <a href="qtnpapers.html" style="color:#640606;">Sample Question Papers</a>  |  <a href="Results.html" style="color:#640606;">Results</a>  |  <a href="contact.html" style="color:#640606;">Contact</a></p>
    						<p style="font-size:100%;text-align:center;"> Designed By <a href="www.pnvsoft.com" target="_blank">PNV Soft Tech</a></p>
    					</div>
    				</div>
                 
				</div>
			</div>
			
		</div>
	</div>
</body>
</html>