<!DOCTYPE html>
<html>
<head>
	<title>BEST | Bharat Excellence Scholarship Test</title>
	<link rel="icon" type="image/png" href="assets/images/favicon.png"/>
	<link rel="stylesheet" href="assets/css/style.css">
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container-fluid">
		<div style="text-align: center;">
			<img src="assets/images/sponsoredadds1.png" width="50%">
		</div>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div style="overflow-wrap: break-word;background-color: #ffffff;">
					<div class="row">
						<div class="col-md-12" style="padding: 0px;">
							<nav class="navbar navbar-default">
								<div class="container-fluid">
									<div class="navbar-header">
										<a class="nav navbar-left" href="index.html"><img src="assets/images/logo.png" width="100%"></a>
									</div>
									<ul class="nav navbar-nav" style="float: right;margin-top: 2%;">
										<li><a href="index.html">Home</a></li>
										<li><a href="about.html">About Us</a></li>
										<li><a href="syllabus.html">Syllabus</a></li>
										<li><a href="updates.html">Updates</a></li>
										<li><a href="contact.html" style="color: #f29200;">Contact Us</a></li>
									</ul>
								</div>
							</nav>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h2>Contact Us</h2>
					</div>			
				</div>
				<hr>
				<div class="row" style="text-align: center;">
					<div class="col-md-4">
						<h4>Mail</h4>		                
						<p > <i style="margin-right: 2% ;color:#f29200;font-size:1.5em" class="fa fa-envelope" aria-hidden="true"></i>pnvsoft@gmail.com</p>		             
					</div>
					<div class="col-md-4">
						<h4>Address</h4>
						<p style="text-align:center;"><i style="margin-right: 2%;color:#f29200;font-size:2em" class="fa fa-map-marker" aria-hidden="true"></i>Pnv Soft Tech Pvt Ltd,<br>4th Floor, Reliance Cyberville,<br> Near Image Hospital, Vittal Rao Nagar, <br>Madhapur-500081, Hyderabad. </p>            
		            </div>
					<div class="col-md-4" >
						<h4>Phone NO</h4>
						<p > <i  style="margin-right: 2%;color:#f29200;font-size:2em;" class="fa fa-phone" aria-hidden="true"></i>9700768495</p>		             
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-6">
						<section class="contact-map">
							<div class="container-fluid">
								
								<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15225.35140183126!2d78.3851239!3d17.4435364!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbfeb188211b58902!2sPNV+soft+tech!5e0!3m2!1sen!2sin!4v1563960687376!5m2!1sen!2sin" width="100%" height="450"  frameborder="0" style="border:0" allowfullscreen></iframe>
							</div>
						</section>
					</div>
					<div class="col-md-6">
						<form >
							<label for="fname">First Name</label>
							<input type="text" id="fname" name="firstname" placeholder="Your name..">
							<label for="lname">Last Name</label>
							<input type="text" id="lname" name="lastname" placeholder="Your last name..">

							<textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
							<input type="submit" value="Submit">
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</body>
</html>