<!DOCTYPE html>
<html>
<head>
	<title>BEST | Bharat Excellence Scholarship Test</title>
	<link rel="icon" type="image/png" href="assets/images/favicon.png"/>
	<link rel="stylesheet" href="assets/css/style.css">
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container-fluid">
		<div style="text-align: center;">
			<img src="assets/images/sponsoredadds1.png" width="50%">
		</div>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div style="overflow-wrap: break-word;background-color: #ffffff;">
					<div class="row">
						<div class="col-md-12" style="padding: 0px;">
							<nav class="navbar navbar-default">
								<div class="container-fluid">
									<div class="navbar-header">
										<a class="nav navbar-left" href="index.html"><img src="assets/images/logo.png" width="100%" class="logo"></a>
									</div>
									<ul class="nav navbar-nav" style="float: right;margin-top: 2%;">
										<li class="active"><a href="index.html" style="color: #f29200;">Home</a></li>
										<li><a href="about.html">About Us</a></li>
										<li><a href="syllabus.html">Syllabus</a></li>
										<li><a href="updates.html">Updates</a></li>
										<li><a href="contact.html">Contact Us</a></li>
									</ul>
								</div>
							</nav>
						</div>
					</div>
					<h3 style="text-align: center;color: blue;">BHARAT EXCELLENCE SCHOLARSHIP TEST</h3>
					<div class="row">
						<div class="col-md-12">
							<div class="btn-group btn-group-justified">
							    <a href="#" class="btn btn-success">Application Form</a>
							    <a href="#" class="btn btn-success">Free Sample Question Papers</a>
							    <a href="#" class="btn btn-success">Results</a>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<marquee style="margin:3%;color: red;font-size: 18px;">Students from 6th to 10th class can only apply for Bharat Excellence Scholarship Test (BEST). Registrations will start soon. <sup><img src="assets/images/new.gif" width="5%"></sup></marquee>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</body>
</html>