
First Name:{{db.firstName}}<br>
Last Name:{{db.lastName}}<br>
DOB:{{db.date_of_birth}}<br>
Father Name: {{db.fatherName}}<br>
Mother Name: {{db.motherName}}<br>
Qualification: {{db.qualification}}<br>
School Name: {{db.schoolName}}<br>
School Address: {{db.schoolAddress}}<br>
Hone Address: {{db.homeAddress}}<br>
State: {{db.state}}<br>
Adhar No: {{db.aadharNumber}}<br>
Phone No: {{db.phoneNumber}}<br>
E-Mail: {{db.emailID}}<br>


Person Photo: <img src="{{db.personPhoto.image.url}}" height=50px width=60px /> <br>


Signature:  <img src="{{db.signaturePhoto.url}}" height=60px width=50px/><br>

