<!DOCTYPE html>

<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <form action = "/profile/" method="POST">
        {% csrf_token %}
    <table align="center" border="2">
        <tr> <td> 
            <input type='submit' value='Take Test' name='t1'><br>
            <input type='submit' value='Mock Test' name='t1'><br>
            <input type='submit' value='My Profile' name='t1'><br>
            <input type='submit' value='Results & Notifications' name='t1'><br>
            <input type='submit' value='Exam Model Questions' name='t1'><br>
        </td></tr>
        <tr><th> 
            <button type="submit"> Logout </button>
        </th></tr>
        <input type="hidden" value="{{username}}" name="username">
        <input type="hidden" value="{{date_of_birth}}" name="dob">
<!-- {{ afc.firstName }} -->
    </table>
    
    <a href="/home2">view profile</a><br><br>
    <a href="/change">change password</a>
 </form>
</body>
</html>