<!DOCTYPE html>
<html>
<head>
	<title>BEST | Bharat Excellence Scholarship Test</title>
	<link rel="icon" type="image/png" href="assets/images/favicon.png"/>
	<link rel="stylesheet" href="assets/css/style.css">
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<style>
	    table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
	</style>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2 col-xs-2 col-lg-2 col-sm-2"></div>
			<div class="col-md-8 col-xs-8 col-lg-8 col-sm-8">
				<div style="overflow-wrap: break-word;background-color: #ffffff;">
					<div class="row">
						<div class="col-md-12 col-xs-12 col-lg-12 col-sm-12" style="padding: 0px;">
							<nav class="navbar navbar-default">
								<div class="container-fluid">
									<div class="navbar-header">
										<a class="nav navbar-left" href="index.html"><img src="assets/images/logo.png" width="100%"></a>
									</div>
									<ul class="nav navbar-nav" style="float: right;margin-top: 2%;">
										<li><a href="index.html">Home</a></li>
										<li><a href="about.html">About Us</a></li>
										<li><a href="syllabus.html" style="color: #f29200;">Syllabus</a></li>
										<li><a href="updates.html">Updates</a></li>
										<li><a href="contact.html">Contact Us</a></li>
									</ul>
								</div>
							</nav>
						</div>
					</div>
					<div style="text-align: center;">
            			<img src="assets/images/sponsoredaddsbanner.png" width="25%">
            		</div>
					<h3 style="text-align: center;color:blue;margin-top: auto;font-family:Serif;"><span style="font-size: 35px">B</span>HARAT <span style="font-size: 35px" >E</span>XCELLENCE <span style="font-size: 35px">S</span>CHOLARSHIP 
						<span style="font-size: 35px">T</span>EST</h3>
					<div class="row">
						<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
							<div class="btn-group btn-group-justified">
							    <!--<a href="application.html" class="btn btn-success">Application Form</a>-->
							    <div class="btn-group">
                                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                                    Application Form<span class="caret"></span></button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="assets/images/application.pdf" target="_blank">Offline Application</a></li>
                                        <li><a href="application.html" target="_blank">Online Application</a></li>
                                    </ul>
                                </div>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                                        Free Sample Question Papers <span class="caret"></span></button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="assets/Sample/Class-VI.pdf" target="_blank">VI Class</a></li>
                                                <li><a href="assets/Sample/Class-VII.pdf" target="_blank">VII Class</a></li>
                                                <li><a href="assets/Sample/Class-VIII.pdf" target="_blank">VIII Class</a></li>
                                                <li><a href="assets/Sample/Class-IX.pdf" target="_blank">IX Class</a></li>
                                                <li><a href="assets/Sample/Class-X.pdf" target="_blank">X Class</a></li>
                                            </ul>
                                     </div>
							    <a href="Results.html" class="btn btn-success">Results</a>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
						<marquee style="margin:3%;color: red;font-size: 18px;" behavior="scroll" scrollamount="3" scrolldelay="1" onMouseOver="this.stop()" onMouseOut="this.start()">Students from 6th to 10th class can only apply for Bharat Excellence Scholarship Test (BEST). Registrations will start soon. For more updates stay tuned to <a href="best.net.in">BEST</a>. Contact No. +91 91338 91339 <sup><img src="assets/images/new.gif" width="5%"></sup></marquee>
						</div>
					</div>
                    <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
                        <p>Generally, syllabus is based on your class subjects which includes Arithmetic & Reasoning and General Knowledge.</p>
                            
                            <h3>Syllabus for VI Class</h3>
                            <table  class="table table-sm ">
                                <tr>
                                    <th>Subject</th> 
                                    <th>Syllabus</th>
                                </tr>
                                <tr>
                                    <td>English</td>
                                    <td>Tenses,
                                    Parts of speech,
                                    Sentences,
                                    Articles,
                                    Verbs,
                                    Passages,
                                    Clauses</td>
                                </tr>
                                <tr>
                                    <td>Mathematics</td>
                                    <td>Number System,
                                    Fractions,
                                    Decimals,
                                    Mensuration,
                                    Ratio and Proportion,
                                    Symmetry,
                                    Perimeter and Area</td>
                                </tr>
                                <tr>
                                    <td>Science</td>
                                    <td>Food Components,
                                    Plants,
                                    Water,
                                    Super Senses,
                                    Living organisms,
                                    Measurent of Distances,
                                    Electricity and Circuits</td>
                                </tr>
                                <!--<tr>-->
                                <!--    <td>Social Studies</td>-->
                                <!--    <td>Atmosphere,-->
                                <!--    Historical Monuments,-->
                                <!--    Importance of water,-->
                                <!--    Living Changes from past to present</td>-->
                                <!--</tr>-->
                                <tr>
                                    <td>Arithmetic and Reasoning</td>
                                    <td>Time and Work,
                                    Profit and loss,
                                    Time and Distance,
                                    Ratio and Proportion,
                                    Verbal Reasoning,
                                    Blood Relationship,
                                    Alpha Numeric Symbol Series</td>
                                </tr>
                            </table>
                            <h3>Syllabus for VII Class</h3>
                            <table class="table table-sm ">
                                <tr>
                                    <th>Subject</th> 
                                    <th>Syllabus</th>
                                </tr>
                                <tr>
                                    <td>English</td>
                                    <td>Tenses,
                                    Parts of speech,
                                    Sentences,
                                    Articles,
                                    Verbs,
                                    Passages,
                                    Clauses and Phrase,</td>
                                </tr>
                                <tr>
                                    <td>Mathematics</td>
                                    <td>Number System,
                                    Fractions,
                                    Geometrical Ideas,
                                    Mensuration,
                                    Ratio and Proportion,
                                    Algebra,
                                    Integers and Decimals</td>
                                </tr>
                                <tr>
                                    <td>Science</td>
                                    <td>Food Sources and Components,
                                    Fibre to Fabric,
                                    Light and reflection,
                                    Body and its movements,
                                    Living and Non-Living organisms
                                    <!--<p>Separation of Substances</p>-->
                                    <!--<p>Changes around us</p></td>-->
                                </tr>
                                <!--<tr>-->
                                <!--    <td>Social Studies</td>-->
                                <!--    <td>Human Resources,-->
                                    <!--<p>Parliament</p>-->
                                <!--    Parliament,-->
                                <!--    Women, Caste and Reform,-->
                                <!--    Industry and Judiciary-->
                                <!--    </td>-->
                                <!--</tr>-->
                                <tr>
                                    <td>Arithmetic and Reasoning</td>
                                    <td>Time and Work,
                                    On ages and trains,
                                    Time and Distance,
                                    Ratio and Proportion,
                                    Verbal Reasoning,
                                    Blood Relationship,
                                    Alpha Numeric Symbol Series</td>
                                </tr>
                            </table>
                        
                    </div>
    				<div class="row">
    					<div class=" col-md-12 col-sm-12 col-xs-12 col-lg-12">
    						<hr style="border-top:1px solid red;">
    						<p style="font-size:100%;text-align:center;"><a href="index.html" style="color:#640606;">Home</a>  |  <a href="about.html" style="color:#640606;">About</a>  |  <a href="syllabus.html" style="color:#640606;">Syllabus</a>  |  <a href="updates.html" style="color:#640606;">Updates</a>  |  <a href="application.html" style="color:#640606;">Application Form</a>  |  <a href="qtnpapers.html" style="color:#640606;">Sample Question Papers</a>  |  <a href="Results.html" style="color:#640606;">Results</a>  |  <a href="contact.html" style="color:#640606;">Contact</a></p>
    						<p style="font-size:100%;text-align:center;"> Designed By <a href="www.pnvsoft.com" target="_blank">PNV Soft Tech</a></p>
    					</div>
    				</div>
    					
    			</div>
			</div>
			<div class="col-md-2 col-xs-2 col-lg-2 col-sm-2"></div>
		</div>
	</div>
</body>
</html>